# Adresse IP du nœud contrôleur
controller-address = localhost

# Identifiant du programme d'affichage
id = N1

# Numéro de port TCP d'écoute du nœud contrôleur
controller-port = 8081

# Valeur par défaut pour la transmission du ping.
display-timeout-value = 30

# Répertoire relatif ou absolu où se trouve les visuels pour les poissons.
resources = ./img